<div class="row">
  <div class="col-md-4 ml-md-auto">
    <div class="sidebar_search">
      <div class="sidebar_title"><%= t "search" %></div>
      <%= search_form_for @q, method: :get do |f|%>
        <div class="sidebar_search_input">
          <%= f.search_field :name_or_begin_or_place_name_or_owner_name_cont %>
          <%= button_tag t("search") do %>
            <span><i class="fa fa-search"></i></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row" id="form-row">
  <div class="container">
    <% @trips.each do |trip| %>
      <%= render trip %>
    <% end %>
    <%= paginate @trips, theme: "twitter-bootstrap-4" %>
  </div>
</div>
