<% provide :title, t("users_management") %>
<div class="row">
  <div class="col-md-4 ml-md-auto">
    <div class="sidebar_search">
      <div class="sidebar_title align-left"><%= t "search" %></div>
      <%= search_form_for @q, method: :get do |f|%>
        <div class="sidebar_search_input">
          <%= f.search_field :name_or_email_cont %>
          <%= button_tag t("search") do %>
            <span><i class="fa fa-search"></i></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table id="mytable" class="table table-bordred table-striped">
        <thead>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td></td>
            <td><strong><%= user.name %></strong></td>
            <td><%= user.email %></td>
            <td>
              <% if can? :update, user %>
                  <span class="btn btn-primary btn-xs">
                    <%= link_to edit_user_path(user) do %>
                      <i class="fa fa-pencil" aria-hidden="true" style="color:white;"></i>
                    <% end %>
                  </span>
              <% end %>
            </td>
            <td>
              <% if can? :destroy, user %>
                <span class="btn btn-danger btn-xs">
                    <%= link_to user, method: :delete,
                      data: {confirm: t("confirm_delete")} do %>
                      <i class="fa fa-trash-o" aria-hidden="true" style="color:white;"></i>
                    <% end %>
                </span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="pull-right mr-4">
  <%= paginate @users, theme: "twitter-bootstrap-4" %>
</div>
