<% if @pg_search_users.any? %>
  <h2><%= t("users") %></h2>
  <%= render partial: "results/user", collection: @pg_search_users, as: :user  %>
  <%= paginate @pg_search_users, theme: "twitter-bootstrap-4" %>
<% end %>

<% if @pg_search_reviews.any? %>
  <h2><%= t("reviews") %></h2>
  <%= render partial: "results/review", collection: @pg_search_reviews, as: :review  %>
  <%= paginate @pg_search_reviews, theme: "twitter-bootstrap-4" %>
<% end %>

<% if @pg_search_trips.any? %>
  <h2><%= t("trips") %></h2>
  <%= render partial: "results/trip", collection: @pg_search_trips, as: :trip  %>
  <%= paginate @pg_search_trips, theme: "twitter-bootstrap-4" %>
<% end %>
