<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer_column">
        <div class="footer_col">
          <div class="footer_content footer_about">
            <div class="logo_container footer_logo">
              <div class="logo">
                <%= link_to image_tag("logo.png"), class: "logo_img" %>
                <div class="logo_title"><%= t "base_title" %></div>
              </div>
            </div>
            <p class="footer_about_text"><%= t "footer_about_content" %></p>
          </div>
        </div>
      </div>

      <div class="col-lg-8 ">
        <div class="logo_title"><%= t "contact" %></div>
        <div class=" contact_info_item d-flex flex-row-reverse">
          <div class="p-3">
            <div class="contact_info_icon">
              <%= link_to image_tag("placeholder.svg", alt: "") %>
            </div>
            <div class="contact_info_text">Pham Thi Hanh Tuyen
            </div>
          </div>
          <div class="p-3">
            <div class="contact_info_icon">
              <%= link_to image_tag("phone-call.svg", alt: "") %>
            </div>
            <div class="contact_info_text">2556-808-8613</div>
          </div>
          <div class="p-3">
            <div class="contact_info_icon">
              <%= link_to image_tag("planet-earth.svg", alt: "") %>
            </div>
            <div class="contact_info_text">pham.thi.hanh.tuyen@framgia.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-lg-1 order-2  ">
        <div class="copyright_content d-flex flex-row align-items-center">
          <div>
            <%= t "copyright" %>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <%= t "by" %>
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 order-lg-2 order-1">
        <div class="footer_nav_container d-flex flex-row align-items-center
          justify-content-lg-end">
          <div class="footer_nav">
            <ul class="footer_nav_list">
              <li class="footer_nav_item">
                <%= link_to t("home"), root_path %>
              </li>
              <li class="footer_nav_item">
                <%= link_to t("about"), about_path %>
              </li>
              <li class="footer_nav_item">
                <%= link_to t("reviews"), reviews_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
