<!DOCTYPE html>
<html>
  <head>
    <title><%= t "base_title" %></title>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <div id="modal-window" class="modal hide fade" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
    <%= render "layouts/header" %>
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message,
        class: "alert alert-#{message_type}" %>
    <% end %>
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
        <nav id="sidebar">
          <div class="sidebar-header text-center">
            <h2><strong><%= link_to @trip.name, @trip %></strong></h2>
          </div>

          <ul class="list-unstyled components">
            <h3 class="text-center"><%= @trip.owner.name %></h3>
            <li class="active">
              <%= link_to t("trip_info"), "#homeSubmenu",
                data: {toggle: "collapse"},
                aria: {expanded: "false"},
                class: "dropdown-toggle" %>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <%= link_to t("plan"), trip_path(trip: @trip,
                    content: :plan) %>
                </li>
                <li>
                  <%= link_to t("expense"), trip_path(trip: @trip,
                    content: :expense) %>
                </li>
                <li>
                  <%= link_to t("group_member"),
                    trip_participations_path(trip_id: @trip.id) %>
                </li>
              </ul>
            </li>
            <li>
              <% if current_user.is_user? @trip.owner %>
                <%= link_to t("add_member"),
                  owner_trip_searchs_path(trip_id: @trip.id) %>
                <%= link_to t("send_notif"), "#" %>
                <%= link_to t("edit_plant"),
                  edit_owner_trip_path(field: :plan) %>
                <%= link_to t("edit_expense"),
                  edit_owner_trip_path(field: :expense) %>
                <%= link_to t("check_request"),
                  owner_trip_participations_path(trip_id: @trip) %>
              <% end %>
            </li>
          </ul>
          <ul>
            <% if can? :destroy, @trip %>
              <li><%= link_to t("delete_trip"), @trip, method: :delete,
               data: {confirm: t("confirm_delete")} %></li>
            <% else %>
              <li><%= link_to t("out_group"),
                trip_participation_path(trip_id: @trip.id),
                method: :delete,
                data: {confirm: t("confirm_delete")} %></li>
            <% end %>
          </ul>
        </nav>
      </nav>

      <!-- Page Content -->
      <div class="super_container" id="content">
        <div id="content-sidebar">
          <%= yield %>
        </div>
      </div>

    </div>
    <% if @chatroom %>
      <%= render "chat" %>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
